In [1]:
import numpy as np
import pandas as pd

In [2]:
pokemons = {
    "Pokemon_Height" : np.random.randint(1, 100, 5),
    "Pokemon_Weight" : np.random.randint(50, 150, 5),
    "Pokemon_Power" : np.random.randint(50, 150, 5)
}

In [3]:
pokemons

{'Pokemon_Height': array([12, 55, 34, 14, 33]),
 'Pokemon_Weight': array([ 77,  88,  74,  82, 123]),
 'Pokemon_Power': array([131, 118, 119,  89, 142])}

In [4]:
df = pd.DataFrame(pokemons)
print(df)

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              12              77            131
1              55              88            118
2              34              74            119
3              14              82             89
4              33             123            142

In [5]:
df.head(n=3)

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              12              77            131
1              55              88            118
2              34              74            119

In [6]:
df.columns

Index(['Pokemon_Height', 'Pokemon_Weight', 'Pokemon_Power'], dtype='object')

In [7]:
df.to_csv('pokemon_dataset.csv', index=False) #Creating a Comma Separated Values file

In [8]:
#Reading a df for Kaggle Challenges

In [9]:
df = pd.read_csv('./pokemon_dataset.csv')

In [10]:
df.head()

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              12              77            131
1              55              88            118
2              34              74            119
3              14              82             89
4              33             123            142

In [12]:
#df.drop(columns=['Unnamed: 0'])

In [13]:
df.shape

(5, 3)