# Lists

In [1]:
# List is a heterogeneous array
l = [1, 2, 3.5, "Hello"]

In [2]:
print(l)

In [3]:
type(l)

In [4]:
l2 = list([1, 2, "Meow"])

In [5]:
print(l2)

In [6]:
type(l2)

In [7]:
l3 = l + l2

In [8]:
print(l3)

In [9]:
l3.extend(l)

In [10]:
print(l3)

[1, 2, 3.5, 'Hello', 1, 2, 'Meow', 1, 2, 3.5, 'Hello']

In [11]:
#list of square numbers using a for loop
list = [i*i for i in range(1, 6)]
print(list)

[1, 4, 9, 16, 25]

# Insertion and Deletion

 - append
 - insert
 - remove
 - pop
 - del

In [12]:
l = [1, 2]
l.append(5)

In [13]:
print(l)

[1, 2, 5]

In [14]:
print(l)

[1, 2, 5]

In [15]:
l.append([1, 4])

In [16]:
print(l)

[1, 2, 5, [1, 4]]

In [17]:
l += [1, 5, "Hello"]

In [18]:
print(l)

[1, 2, 5, [1, 4], 1, 5, 'Hello']

In [19]:
l.remove(5)
print(l)

[1, 2, [1, 4], 1, 5, 'Hello']

In [20]:
del l[0]
print(l)

[2, [1, 4], 1, 5, 'Hello']

In [21]:
l.pop()
print(l)

[2, [1, 4], 1, 5]

In [22]:
l = ["Apple", "Mango", "Guava", 80]
80 in l

True

In [23]:
for i in range(len(l)):
    print(l[i])

Apple
Mango
Guava
80

In [24]:
for x in l:
    print(x)

Apple
Mango
Guava
80

In [25]:
l.insert(1, "Watermelon")
print(l)

['Apple', 'Watermelon', 'Mango', 'Guava', 80]

# More functions on lists : Searching and Sorting

In [26]:
l = [4, 3, 2, 16, 18]

In [27]:
print(max(l))
print(min(l))

18
2

In [28]:
#Linear Search
l.index(16)

3

In [29]:
l = sorted(l)

In [30]:
print(l)

[2, 3, 4, 16, 18]

In [31]:
l = [4, 5, 1, 3, 2]
l.sort(reverse=True)
print(l)

[5, 4, 3, 2, 1]

In [32]:
# Reading a list of numbers
numbers = [int(number)*int(number) for number in input().split()]
print(numbers)

81762 127128
[6685024644, 16161528384]

# Dictionaries

In [33]:
fruits = {
    "Mango" : 60,
    "Apple" : 200,
    "Pineapple" : {
        "Small" : 90,
        "Large" : 150
    }
}

In [34]:
print(fruits)

{'Mango': 60, 'Apple': 200, 'Pineapple': {'Small': 90, 'Large': 150}}

In [35]:
type(fruits)

dict

In [36]:
fruits["Pineapple"]

{'Small': 90, 'Large': 150}

In [37]:
fruits["Pineapple"]["Small"]

90

In [38]:
fruits.keys()

dict_keys(['Mango', 'Apple', 'Pineapple'])

In [39]:
fruits.values()

dict_values([60, 200, {'Small': 90, 'Large': 150}])

In [40]:
fruits.get("Mango")

60

In [41]:
type(fruits.get("Mango"))

int

In [42]:
type(fruits.get("Mangoes"))

NoneType

In [43]:
del fruits["Apple"]
print(fruits)

{'Mango': 60, 'Pineapple': {'Small': 90, 'Large': 150}}

In [44]:
d2 = {
    "Strawberry" : 90
}

In [45]:
fruits.update(d2)

In [46]:
print(fruits)

{'Mango': 60, 'Pineapple': {'Small': 90, 'Large': 150}, 'Strawberry': 90}

In [47]:
fruits.clear()
print(fruits)

{}

In [51]:
l1 = ["Apple", "Papaya", "Guava", "Banana"]
l2 = [100, 120, 30, 50]

In [54]:
result = dict(zip(l1, l2))

In [55]:
print(result)

{'Apple': 100, 'Papaya': 120, 'Guava': 30, 'Banana': 50}

In [58]:
for x in result:
    print(x)

Apple
Papaya
Guava
Banana

In [59]:
for x in result.keys():
    print(x)

Apple
Papaya
Guava
Banana

In [60]:
for x in result.values():
    print(x)

100
120
30
50

# Tuples in Python

In [64]:
t = (1, 2, 3, "Hello") #Tuples are immutable
print(t)

(1, 2, 3, 'Hello')

In [70]:
t2 = tuple(t)
print(t2)

(1, 2, 3, 'Hello')

In [71]:
x = list(t2)
print(x)

TypeError: 'list' object is not callable

In [72]:
del t2
t2

NameError: name 't2' is not defined

# Python Sets

In [73]:
s = set([15, 1, 2, 3, 4, 3, 1, 1])
print(s)

{1, 2, 3, 4, 15}

In [74]:
type(s)

set

In [76]:
s2 = {12, 43, 4,21, 6, 1,1}
print(s2)

{1, 4, 6, 43, 12, 21}

In [77]:
s2.add(50)
print(s2)

{1, 4, 6, 43, 12, 50, 21}

In [78]:
s.union(s2)

{1, 2, 3, 4, 6, 12, 15, 21, 43, 50}

In [81]:
s.intersection(s2) #It's the same as s & s2

{1, 4}

In [84]:
s2 - s # same as .difference method

{6, 12, 21, 43, 50}

In [85]:
s.clear()
print(s)

set()

In [86]:
50 in s2

True

In [88]:
a1 = {1, 2, 3, 4}
a2 = {1, 3, 5, 7, 8}

print(a1 ^ a2) #Those elements which are only in one of the sets

{2, 4, 5, 7, 8}